-#check with noise controller
.guide_width10
    .row
        %h2 Check with Noise Controller
        .detail
            %table(width="100%")
                - substeps = @recipe.xpath('//substep').to_a
                - for ss in substeps
                    - row_class = "tr_odd"
                    - if substeps.index(ss) % 2 == 0
                        - row_class = "tr_even"
                    %tr{:class=>row_class}
                        %td.cwn_table_cell(width="20%")
                            = ss.id
                            %br
                            = ss['navi_text']
                        %td.cwn_table_cell(width="5%")
                            %input.cwn_controller{:type=>'checkbox',:'data-target'=>ss.id,:'data-action_name'=>'check'}
                        %td.cwn_table_cell(width="35%")
                            %button.btn_check_with_noise.cwn_controller{:'data-target'=>ss.id,:'data-action_name'=>'set',:'data-noise_type'=>"slip"} set slip noise
                            slip to
                            %select.cwn_select_direct{:id=>"cwn_slip_direct_#{ss.id}"}
                                %option forward
                                %option backward
                                %option anywhere
                                %option able
                                %option not_able
                        %td.cwn_table_cell(width="40")
                            %button.btn_check_with_noise.cwn_controller{:'data-target'=>ss.id,:'data-action_name'=>'set',:'data-noise_type'=>"jump"} set jump noise
                            jump to
                            %select.cwn_select_direct{:id=>"cwn_jump_direct_#{ss.id}"}
                                %option forward
                                %option backward
                                %option anywhere
                                %option able
                                %option not_able
                            %input.cwn_jump_delay{:type=>"text", :id=>"cwn_jump_delay_#{ss.id}", :value=>"-1.0"}