.main_controller#basic_controller
    = haml :basic_controller
.main_controller#object_access_controller
    = haml :object_access_controller
.main_controller#check_with_noise_controller
    = haml :check_with_noise_controller
.history

%a.hidden.woz-run(data-receiver_url="#{@receiver_url}" data-logger_url="#{@logger_url}" data-prescription_url="#{@prescription_url+"/"+@session_id}" data-notification_live_sec="#{settings.notification_live_sec}" data-session_id="#{@session_id}" href="/woz") init
