-#object_access_controller
.guide_width10
    .row
        %h2 Object Access Controller
        .detail
            %h3 Cooking Utensils
            - @oa_objects = []
            - @oa_cols = 8
            - for object in @recipe.xpath('//event')
                - next unless object['id']=~ /.+_utensil/
                - name = object['id'].sub('_utensil','')
                - name = object['name'] if object['name']
                - @oa_objects << [object['id'], name]
            = haml :object_access_table
            %br
            %h3 Seasonings
            - @oa_objects = []
            - @oa_cols = 8
            - for object in @recipe.xpath('//object').to_a.select{|v|v.id.to_s=~/.+_seasoning/}.sort_by{|v|v['name']}
                - next if object['id']=~ /object\d{3}/
                - name = object['id']
                - name = object['name'] if object['name']
                - @oa_objects << [object['id'],name]
            = haml :object_access_table
            %br
            %h3 Ingredients
            - @oa_objects = []
            - @oa_cols = 8
            - for object in @recipe.xpath('//object').to_a.delete_if{|v|v.id.to_s=~/.+_seasoning/}.sort_by{|v|v['name']}
                - next if object['id']=~ /object\d{3}/
                - name = object['id']
                - name = object['name'] if object['name']
                - @oa_objects << [object['id'],name]
            = haml :object_access_table
            %br
            %h3 Intermediate Foods
            // remove not-refered steps
            - refered_steps = []
            - for trig in @recipe.xpath('//substep/trigger').to_a
                - refered_steps += trig['ref'].split(/\s+/).map{|v|v.strip}
            - refered_steps = refered_steps.sort.uniq
            - @oa_objects = []
            - @oa_cols = 4
            - for step in @recipe.xpath('//step')
                - next unless refered_steps.include?(step.id.to_s)
                - @oa_objects << [step.id, "#{step.id.to_s.gsub('step','')}. #{step['navi_text']}"]
            = haml :object_access_table